---
import Content from '../../../components/Content.astro';
import ContentGroup from '../../../components/ContentGroup.astro';
import Layout from '../../../layouts/Layout.astro';
import categories from '../../../pages/data/arts/categories.json';

export async function getStaticPaths() {
  const paths = [];

  for (const category of categories) {
    const charactersModule = await import(`../../../pages/data/arts/${category.url}.json`);
    const characters = charactersModule.default;

    for (const character of characters) {
      for (const art of character.arts) {
        paths.push({
          params: {
            category: category.category,
            art: art.url
          },
          props: {category, character, art}
        });
      }
    }
  }

  return paths;
}

const { category, character, art } = Astro.props;
---

<Layout>

  <ContentGroup id="_art-page">

    <div>
      <Content>
        <a href={`/arts/${category.category}`}> Back </a>
      </Content>

      <Content>
        <h2> {art.title} </h2>
      </Content>

      <Content>
        <p>{art.description}</p>
      </Content>
    </div>

    <img
      id="art-image"
      src={`/pages/arts/${category.url}/${character.character}/${art.image}`}
      alt={art.title}
    />

  </ContentGroup>

</Layout>

<style is:global>
  #_art-page {
    display: flex;
  }

  #art-image-cover {
    width: min-content;
    height: min-content;
  }

  #art-image {
    margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
    height: 65vh;
  }
</style>
