---
import Content from '../../components/Content.astro';
import ContentGroup from '../../components/ContentGroup.astro';
import Layout from '../../layouts/Layout.astro';

import categories from '../../pages/data/arts/categories.json';
export function getStaticPaths() {
  return categories.map(category => ({
    params: { category: category.category },
    props: { category: category }
  }));
}
const { category } = Astro.props;

type CharacterInfo = [
  {
    "character":String,
    "arts":
    {
      "image":String,
      "title":String,
      "description":String,
      "url":String
    }[]
  }
]

const characters:CharacterInfo = (await import(`../../pages/data/arts/${category.url}.json`)).default;
---

<Layout currentPage="arts">

  <ContentGroup>

    <Content>
      <a href="/arts"> Back </a>
    </Content>

    <Content>
      <h2> {category.title} </h2>
    </Content>

    <Content>
      <ul class="art-list">
        {
          characters.map(character => character.arts.map(art => (
            <li>
              <a href={`/arts/${category.category}/${art.url}`}>
              {art.title}
              </a>
            </li>
          )))
        }
      </ul>
    </Content>

  </ContentGroup>

</Layout>
